@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {

  /* Timing functions */

  --tf-bounce: cubic-bezier(0.8, -1, .2, 2);

  /* Colores */


  --clr-primary-300: #60CAFF;
  --clr-primary-400: #4099FF;
  --clr-primary-500: #275DFF;
  --clr-primary-600: #281AEA;
  --clr-primary-700: #3E13BF;

  --clr-accent-500: #1bc727;

  --clr-neutral-dark-900: #211800;
  --clr-neutral-light-500: #FAF9F6;

  --clr-radial-primary : radial-gradient(circle at center top, var(--clr-primary-400), var(--clr-primary-600));


  /* Tipografia */

  --ff: 'Poppins', sans-serif, system-ui;

  --fs-h1: 39.06px;
  --fs-h2: 31.25px;
  --fs-h3: 20px;
  --fs-p: 16px;

  --fw-light: 300;
  --fw-semibold: 600;
  --fw-extrabold: 800;

}

h1 {
  font-size: var(--fs-h1);
  font-weight: var(--fw-extrabold);
}

h2 {
  font-size: var(--fs-h2);
  font-weight: var(--fw-extrabold);
}

h3 {
  font-size: var(--fs-h3);
  font-weight: var(--fw-extrabold);
}


::selection {
  background-color: var(--clr-accent-500);
  color: var(--clr-neutral-dark-900);
  -webkit-text-fill-color: var(--clr-neutral-dark-900);

}

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  box-sizing: border-box;
}


html:focus-within {
  scroll-behavior: smooth;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

svg.icon {
  height: 1cap;
}

img {
  height: auto;
  vertical-align: middle;
  font-style: italic;
  shape-margin: 1rem;
}

.stack {
  display: grid;
  grid-template-areas: "stack";
  align-items: center;

  >* {
    grid-area: stack;
  }
}

a.overflow-effect {
  color: transparent !important;
  position: relative;
  overflow: hidden;
  transition: scale .2s var(--tf-bounce), var(--_rest-transitions);

  &:active {
    scale: .95;
  }

  &:is(:hover, :focus-visible) {

    .top,
    .bottom {
      transition-duration: .3s;
    }

    .top {
      top: -100%;
    }

    .bottom {
      top: var(--_top, 0);
    }
  }

  &,
  >span {
    display: inline-flex;
    align-items: center;
    gap: .3rem;
  }

  >span {
    color: var(--_clr-base, var(--clr-neutral-dark-900));
    position: absolute;
    transition: top .5s var(--tf-bounce);

    &.top {
      top: var(--_top, 0);
    }

    &.bottom {
      color: var(--_clr-hover, var(--clr-accent-500));
      top: 100%;
    }
  }
}

.cta {
  text-decoration: none;
  background: var(--clr-radial-primary);
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: var(--fw-semibold);
  color: var(--clr-neutral-light-500);

  --_clr-base: var(--clr-neutral-light-500);
  --_clr-hover: var(--clr-neutral-light-500);
  --_top: 10px;
  --_rest-transitions: box-shadow .3s ease-in-out;

  &:hover {
    box-shadow: 0px 10px 40px -2px var(--clr-primary-600);
  }

}


@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
}

body,
.content-grid,
.full-width {



  --padding-inline: 16px;
  --content-max-width: 1080px;

  --content-size: min(var(--content-max-width), calc(100vw - var(--padding-inline) * 2));
  --full-width-size: minmax(0, auto);

  display: grid;
  grid-template-columns:
    [full-width-start] var(--full-width-size) var(--padding-inline) [content-start] var(--content-size) [content-end] var(--padding-inline) var(--full-width-size) [full-width-end];
}

:is(.content-grid, .full-width)>* {
  grid-column: content;
}

.full-width {
  grid-column: full-width;
}

.content-grid {
  grid-column: content;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  display: grid;
  grid-template-rows:
    [header-start main-start] min-content [header-end] auto [main-end footer-start] auto [footer-end];

  font-weight: var(--fw-light);

  font-family: var(--ff);

  color: var(--clr-neutral-dark-900);
  background-color: var(--clr-neutral-light-500);


  >* {
    grid-column: full-width;
  }
}

body>header {
  grid-row: header;
  padding-block: 16px;
  position: sticky;
  z-index: 9;
  transition: .3s box-shadow, .3s background-color;
  align-items: center;

  >* {
    grid-row: 1/2;
  }

  &.active {
    top: var(--_top-header);
  }

  &.clr {
    background-color: var(--clr-neutral-light-500);
    box-shadow: 0 10px 12px #0002;
  }

  nav {
    justify-self: end;
    display: flex;
    gap: 20px;
    align-items: center;
  }

}

body>main {
  grid-row: main;

  > * {
    padding-block: var(--fs-h1);
  }

  .hero {

    background-color: var(--clr-neutral-light-500);
    background-image:
      linear-gradient(var(--clr-primary-300) .7px, transparent .7px), linear-gradient(to right, var(--clr-primary-300) .7px, var(--clr-neutral-light-500) .7px);
    box-shadow: var(--clr-neutral-light-500) 0 0 300px 100px inset;
    background-size: 18px 18px;
    min-height: 90vh;
    align-items: center;

    >* {
      grid-row: 1 / 2;
    }

    h1 {
      font-size: var(--fs-h1);
      grid-column: content;
      display: grid;
      justify-items: center;

      .breaking-title {
        >* {
          width: fit-content;
          transform-origin: center;
          line-height: 90px;
          text-align: center;

          &:nth-child(1) {
            clip-path: polygon(100% 0, 0 0, 0 100%);
          }

          &:nth-child(2) {
            clip-path: polygon(100% 0, 100% 100%, -1% 100%);
            animation: break .3s;
            animation-fill-mode: forwards;
            animation-delay: 1.5s;
            animation-timing-function: cubic-bezier(0, 0, .5, 3);
          }
        }
      }

      .highlight {
        background: linear-gradient(0deg, var(--clr-primary-600), var(--clr-primary-400));
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
        font-size: 100%;
      }

    }
  }

  .cotizar {
    background-color: var(--clr-primary-600);
    background: var(--clr-radial-primary);
    color: var(--clr-neutral-light-500);
    justify-items: center;
    text-align: center;

    grid-template-rows: min-content 30px [select-start] min-content [select-end costos-start] min-content [costos-end];

    row-gap: 10px;

    select{

      grid-row: select;

      color: var(--clr-neutral-dark-900);
      border: none;
      padding: 5px 10px;
      border-radius: 10px;

      option:first-child{
        display: none;
      }

      &:invalid + #costos{
        visibility: hidden;
      }
    }

    #costos{

      grid-row: costos;

      span[class]{
        font-size: var(--fs-h2);
      }
    }
  }

  .marcas{
    grid-column: full-width;
    overflow: hidden;
    position: relative;

    &::before{
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;

      background: linear-gradient(90deg, var(--clr-neutral-light-500) , transparent 10%, transparent 90%, var(--clr-neutral-light-500) 100%);

    }

    .slider{
      z-index: -1;
      display: flex;      
      grid-column: full-width;
      gap: 100px;

      animation: slide 20s linear infinite;

      > * {
        min-width: fit-content;
      }

    }
  }


}

body>footer {
  grid-row: footer;
  height: 600px;
}


/* Playground */






@keyframes break {
  to {
    translate: 0px 6px;
    rotate: 2deg;
  }
}

@keyframes slide {
  to{
    translate: -1195px;
  }
}